name: Scheduled or Manual Trigger

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  call-main:
    uses: ${{ github.repository }}/.github/workflows/fetch-steam-game-data.yml@main
